<!DOCTYPE html>
<html>

<head>
  <title>Scala.js + Laminar = Love</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://alcdn.msauth.net/browser/2.15.0/js/msal-browser.js"
      integrity="sha384-dFzMiVGB5HpWZ+5w5VSif6jhWfNeplSw9ACYmQKZcY2azuT9kCxVWVI9HyfGdkHV" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="./authConfig.js"></script>
    <script type="text/javascript" src="./graphConfig.js"></script>
    <script type="text/javascript" src="./ui.js"></script>

    <script type="text/javascript" src="./graph.js"></script>
</head>
<body>
    <div id="app-container"></div>
</div>
</body>
</html>
